adjective.txt
adverb.txt
aramaic.txt
article.txt
cond.txt
conjunction.txt
correlative_or_interrogative_pronoun.txt
correlative_pronoun.txt
demonstrative_pronoun.txt
hebrew.txt
indefinite_pronoun.txt
interjection.txt
interrogative_pronoun.txt
letter_indeclinable.txt
noun_other_type_indeclinable.txt
noun.txt
numeral_indeclinable.txt
particle.txt
personal_pronoun.txt
possessive_pronoun.txt
preposition.txt
proper_noun_indeclinable.txt
reciprocal_pronoun.txt
reflexive_pronoun.txt
relative_pronoun.txt
verb.txt
greek_lemma.zip
